repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        name: Ruff (lint + fix)
        args: [--config=pyproject.toml, --fix]
        types_or: [python, pyi]
      - id: ruff-format
        name: Ruff (format)
        args: [--config=pyproject.toml]
        types_or: [python, pyi]


  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        name: clang-format (C++)
        args: [--style=file, --fallback-style=none]
        types_or: [c++, c]
        exclude: ^thirdparty/.*$


  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.4
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
        description: Scans staged files for secrets using gitleaks rules
